<div class="flex flex-col justify-center h-full py-12">
  <img
    src="/img/logo/cover-php-ini-logo.jpg"
    alt="Dalyle DevOps Inc. Cover"
    title="Oooh ya, some basic PHP ini..."
    class=""
  >
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-wide">New Firm:
        <span class="text-gray-800 font-bold tracking tracking-widest text-color2">
          Still a #WIP
        </span>
      </h1>
      <h2 class="font-bold tracking-widest text-4xl">Welcome to a new thing...</h1>
        <span class="content__container block font-light text-browngray text-2xl my-6">
          <ul class="content__container__list">
            <li class="content__container__list__item xl:pl-3">DevOps EVERYTHING! (Plz teach me moar...)</li>
            <li class="content__container__list__item xl:pl-3">Cloud Engineering</li>
            <li class="content__container__list__item xl:pl-3">Top-shelf Corporate Web Hosting</li>
            <li class="content__container__list__item xl:pl-3">Reliability</li>
            <li class="content__container__list__item xl:pl-3">Accountability</li>
            <li class="content__container__list__item xl:pl-3">Durability</li>
            <li class="content__container__list__item xl:pl-3">R.A.D. :)</li>
          </ul>
        </span>
        <p class="font-bold tracking-widest text-4xl">...ooooh ya!</p>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="/img/undraw_thought_process.svg" alt="Hello! Don't be shy... ">
    </div>
  </div>
</div>
{#
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-color2 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
    href="#about">More Information</a>
</div>
#}
